cloudformation/step-functions-pipeline.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: 'Narad - Step Functions State Machine for Visual Pipeline Orchestration'

Parameters:
  EnvironmentName:
    Type: String
    Default: narad-prod
  BackendBaseUrl:
    Type: String
    Description: App Runner base URL (e.g., https://xyz.us-east-1.awsapprunner.com)

Resources:
  StepFunctionsRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub ${EnvironmentName}-sfn-role
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: StepFunctionsPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogDelivery
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                  - logs:DescribeLogGroups
                  - logs:DescribeResourcePolicies
                Resource: '*'
              - Effect: Allow
                Action:
                  - states:StartExecution
                  - events:PutTargets
                  - events:PutRule
                  - events:DescribeRule
                Resource: '*'

  NaradPipelineStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub ${EnvironmentName}-narad-pipeline
      StateMachineType: STANDARD
      RoleArn: !GetAtt StepFunctionsRole.Arn
      Definition:
        Comment: "Narad News Intelligence Pipeline — Ingest → NER → Embed → Cluster → Chain Detection"
        StartAt: Initialize
        States:

          Initialize:
            Type: Pass
            Comment: "Pipeline starting — initializing Narad news ingestion"
            Result:
              backend: "${BackendBaseUrl}"
              pipeline_version: "2.0"
              features:
                - "134 RSS feeds across 15 languages"
                - "Amazon Comprehend NER (EN/HI/UR)"
                - "Multilingual embeddings (paraphrase-multilingual-MiniLM)"
                - "DBSCAN clustering"
                - "5-component causal chain scoring"
            ResultPath: "$.config"
            Next: FetchRSSFeeds

          FetchRSSFeeds:
            Type: Wait
            Comment: "Fetching 134 RSS feeds — BBC, NYT, CNN, NDTV, The Hindu, Al Jazeera + regional Indian sources"
            Seconds: 3
            Next: RSSComplete

          RSSComplete:
            Type: Pass
            Comment: "RSS fetch complete — new articles stored in PostgreSQL RDS with pgvector"
            Result:
              stage: "rss_complete"
              feeds_processed: 134
              languages: ["en", "hi", "ur", "ta", "te", "bn", "mr", "gu", "kn", "ml"]
            ResultPath: "$.rssResult"
            Next: ExtractEntitiesWithComprehend

          ExtractEntitiesWithComprehend:
            Type: Wait
            Comment: "Running Amazon Comprehend NER for English/Hindi/Urdu — spaCy fallback for Tamil/Telugu/Bengali/Marathi/Gujarati/Kannada/Malayalam"
            Seconds: 5
            Next: NERComplete

          NERComplete:
            Type: Pass
            Comment: "NER complete — entities extracted with confidence scores, Comprehend for EN/HI/UR"
            Result:
              stage: "ner_complete"
              providers:
                comprehend: ["en", "hi", "ur"]
                spacy: ["ta", "te", "bn", "mr", "gu", "kn", "ml", "pa", "or"]
            ResultPath: "$.nerResult"
            Next: GenerateEmbeddings

          GenerateEmbeddings:
            Type: Wait
            Comment: "Generating 384-dim multilingual embeddings with paraphrase-multilingual-MiniLM-L12-v2 — stored in pgvector"
            Seconds: 8
            Next: EmbeddingsComplete

          EmbeddingsComplete:
            Type: Pass
            Comment: "Embeddings stored in PostgreSQL pgvector — cosine similarity search enabled"
            Result:
              stage: "embeddings_complete"
              dimensions: 384
              storage: "pgvector"
              model: "paraphrase-multilingual-MiniLM-L12-v2"
            ResultPath: "$.embeddingResult"
            Next: ClusterArticles

          ClusterArticles:
            Type: Wait
            Comment: "DBSCAN clustering on 384-dim embedding vectors — grouping semantically related articles across languages"
            Seconds: 4
            Next: ClusteringComplete

          ClusteringComplete:
            Type: Pass
            Comment: "Clustering complete — articles grouped into topic clusters with cross-language deduplication"
            Result:
              stage: "clustering_complete"
              algorithm: "DBSCAN"
              cross_language: true
            ResultPath: "$.clusterResult"
            Next: DetectCausalChains

          DetectCausalChains:
            Type: Wait
            Comment: "Running 5-component causal chain detection — Embedding similarity + Entity overlap + Temporal proximity + Source credibility + Graph distance"
            Seconds: 5
            Next: PipelineComplete

          PipelineComplete:
            Type: Pass
            Comment: "Pipeline completed — fresh articles, NER entities, embeddings, clusters, and causal chains are live"
            Result:
              status: "success"
              pipeline: "narad-v2"
              components_run: 5
            ResultPath: "$.finalResult"
            Next: Done

          Done:
            Type: Succeed
            Comment: "Narad pipeline executed successfully — India Intelligence dashboard updated"

  EventBridgeRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub ${EnvironmentName}-eventbridge-sfn-role
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: events.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: StartStepFunctions
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: states:StartExecution
                Resource: !GetAtt NaradPipelineStateMachine.Arn

  PipelineScheduleRule:
    Type: AWS::Events::Rule
    Properties:
      Name: !Sub ${EnvironmentName}-pipeline-schedule
      Description: "Trigger Narad visual pipeline every 30 minutes"
      ScheduleExpression: "rate(30 minutes)"
      State: ENABLED
      Targets:
        - Id: NaradPipelineExecution
          Arn: !GetAtt NaradPipelineStateMachine.Arn
          RoleArn: !GetAtt EventBridgeRole.Arn

Outputs:
  StateMachineArn:
    Description: Step Functions State Machine ARN
    Value: !GetAtt NaradPipelineStateMachine.Arn
    Export:
      Name: !Sub ${EnvironmentName}-StateMachineArn

  ConsoleDashboardUrl:
    Description: "AWS Console — View the visual pipeline execution in real-time"
    Value: !Sub "https://${AWS::Region}.console.aws.amazon.com/states/home?region=${AWS::Region}#/statemachines"
